version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: seaotter123
      POSTGRES_DB: pm_app
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - '5432:5432'
  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - '8080:80'
  backend:
    build: ./Backend
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql+psycopg2://postgres:seaotter123@db:5432/pm_app
      DB_SCHEMA: pm
    ports:
      - '8000:8000'
volumes:
  db_data:
